name: Java Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 이미지 빌드 및 푸시
      - name: Build and Push Java
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/personal-api:latest
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # 오라클 스프링만 배포
      - name: Deploy to Oracle VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.ORACLE_HOST }}
          username: ubuntu
          key: ${{ secrets.ORACLE_SSH_KEY }}
          script: |
            cd /home/ubuntu/project
            
            sudo rm -f .env
            sudo touch .env
      
            echo "LLM_API_URL=${{ secrets.LLM_API_URL }}" | sudo tee -a .env
            echo "LLM_API_KEY=${{ secrets.LLM_API_KEY }}" | sudo tee -a .env

            echo "FAST_API_APP=${{ secrets.FAST_API_APP }}" | sudo tee -a .env
      
            echo "MYSQL_HOST=${{ secrets.MYSQL_HOST }}" | sudo tee -a .env
            echo "MYSQL_USER=${{ secrets.MYSQL_USER }}" | sudo tee -a .env
            echo "MYSQL_PASSWORD=${{ secrets.MYSQL_PASSWORD }}" | sudo tee -a .env
            
            sudo docker compose pull personal-api
            sudo docker compose up -d --no-deps personal-api
            sudo docker image prune -f
